

.filters_fieldset ul{
     -webkit-column-count: 6; /* Chrome, Safari, Opera */
     -moz-column-count: 6; /* Firefox */
     column-count: 6;
 }

@media screen and (max-width: 1900px) {
 .filters_fieldset ul{
     -webkit-column-count: 3; /* Chrome, Safari, Opera */
     -moz-column-count: 3; /* Firefox */
     column-count: 3;
 }
}

@media screen and (max-width: 1200px) {
 .filters_fieldset ul{
     -webkit-column-count: 2; /* Chrome, Safari, Opera */
     -moz-column-count: 2; /* Firefox */
     column-count: 2;
 }
}

@media screen and (max-width: 768px) {
 .filters_fieldset ul{
     -webkit-column-count: 1; /* Chrome, Safari, Opera */
     -moz-column-count: 1; /* Firefox */
     column-count: 1;
 }
}

.filters_fieldset ul li{
    list-style-type: none;
}
