

<input type="text" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event)" />

<select #modelChoice (change)="changeModel(modelChoice.value)" name="attributionModel" [(ngModel)]="filterService.selectedAttributionModelId">
  <option *ngFor="let model of filterService.attributionModels"
            [value]="model.id"
            [selected]="model.id == filterService.selectedAttributionModelId"
            >
            {{ model.name }} ( {{ model.id }} )
          </option>
</select>
Selected model :
{{filterService.selectedAttributionModelId}}
<span *ngFor="let model of filterService.attributionModels"><span *ngIf="model.id == filterService.selectedAttributionModelId">{{model.name}} ({{model.id}})</span></span>

<br />

<md-card class="result">
  <md-card-content>
    <h2>Advertisers</h2>
    <section>
        <div (click)="changeAllFilter(advertisers,true)"> Check all </div>
        <div (click)="changeAllFilter(advertisers,false)"> Uncheck all </div>
        <fieldset class="filters_fieldset">
          <ul >
              <ng-container *ngFor="let advertiser of filterService.advertisers" >
                <li *ngIf="advertiser.isSelectable" >
                  <md-checkbox
                    [(ngModel)]="advertiser.isSelected"
                    (change)="updateAdvertisers()"
                    [ngClass]="{'active' : advertiser.isSelected}"
                  >
                  {{ advertiser.common_name }} : {{advertiser.isSelected}} ( {{advertiser.sizmek_id}})
                  </md-checkbox>
                </li>
              </ng-container>
          </ul>
      </fieldset>
    </section>
  </md-card-content>
</md-card>

<md-card class="result">
  <md-card-content>
    <h2>Partners</h2>
      <section>
        <div (click)="changeAllFilter(partners,true)"> Check all </div>
        <div (click)="changeAllFilter(partners,false)"> Uncheck all </div>
        <fieldset class="filters_fieldset">
            <ul >
              <ng-container *ngFor="let partner of filterService.partners">
                <li *ngIf="partner.isSelectable" >
                  <md-checkbox
                  [(ngModel)]="partner.isSelected"
                  (change)="updatePartners()"
                  [ngClass]="{'active' : partner.isSelected}"
                  >
                  {{ partner.name }} : {{partner.isSelected}}
                  </md-checkbox>
                </li>
              </ng-container>
          </ul>
      </fieldset>
    </section>
  </md-card-content>
</md-card>

<md-card class="result">
  <md-card-content>
    <h2>Kpis</h2>
      <section>
        <div (click)="changeAllFilter(kpis,true)"> Check all </div>
        <div (click)="changeAllFilter(kpis,false)"> Uncheck all </div>
        <fieldset class="filters_fieldset">
            <ul >
              <ng-container *ngFor="let kpi of filterService.kpis">
                <li *ngIf="kpi.isSelectable" >
                  <md-checkbox
                  [(ngModel)]="kpi.isSelected"
                  (change)="updateKpis()"
                  [ngClass]="{'active' : kpi.isSelected}"
                  >
                  {{ kpi.name }} : {{kpi.isSelected}}
                  </md-checkbox>
                </li>
              </ng-container>
          </ul>
        </fieldset>
      </section>
  </md-card-content>
</md-card>

<md-card class="result">
  <md-card-content>
    <h2>MetaCampaigns</h2>
      <section>
        <div (click)="changeAllFilter(metaCampaigns,true)"> Check all </div>
        <div (click)="changeAllFilter(metaCampaigns,false)"> Uncheck all </div>
        <fieldset class="filters_fieldset">
            <ul >
              <ng-container *ngFor="let metaCampaign of filterService.metaCampaigns">
                <li *ngIf="metaCampaign.isSelectable" >
                  <md-checkbox
                  [(ngModel)]="metaCampaign.isSelected"
                  (change)="updateMetaCampaigns()"
                  [ngClass]="{'active' : metaCampaign.isSelected}"
                  >
                  {{ metaCampaign.name }} : {{metaCampaign.isSelected}}
                  </md-checkbox>
                </li>
              </ng-container>
          </ul>
        </fieldset>
      </section>
  </md-card-content>
</md-card>
