

<input type="text" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event)" />

<select #modelChoice (change)="changeModel(modelChoice.value)" name="attributionModel" [(ngModel)]="filterService.selectedAttributionModelId">
  <option *ngFor="let model of filterService.attributionModels"
            [value]="model.id"
            [selected]="model.id == filterService.selectedAttributionModelId"
            >
            {{ model.name }} ( {{ model.id }} )
          </option>
</select>
Selected model :
{{filterService.selectedAttributionModelId}}
<span *ngFor="let model of filterService.attributionModels"><span *ngIf="model.id == filterService.selectedAttributionModelId">{{model.name}} ({{model.id}})</span></span>

<br />
Date values : {{filterService.dateValues | async }}
<md-card class="result">
  <md-card-content>
    <h2>Advertisers</h2>
      <section>
        <div (click)="changeAllFilter(advertisers,true)"> Check all </div>
        <div (click)="changeAllFilter(advertisers,false)"> Uncheck all </div>
        <div *ngFor="let advertiser of filterService.advertisers">
            <md-checkbox
                  *ngIf="advertiser.isSelectable"
                  [(ngModel)]="advertiser.isSelected"
                  (change)="updateAdvertisers()"
                  [ngClass]="{'active' : advertiser.isSelected}"
                  [align]="start"
                  >
                {{ advertiser.common_name }} : {{advertiser.isSelected}} ( {{advertiser.sizmek_id}})
              </md-checkbox>
        </div>
      </section>
  </md-card-content>
</md-card>

<md-card class="result">
  <md-card-content>
    <h2>Partners</h2>
      <section>
        <div (click)="changeAllFilter(partners,true)"> Check all </div>
        <div (click)="changeAllFilter(partners,false)"> Uncheck all </div>
        <div *ngFor="let partner of filterService.partners">
          <md-checkbox
                *ngIf="partner.isSelectable"
                [(ngModel)]="partner.isSelected"
                (change)="updatePartners()"
                [ngClass]="{'active' : partner.isSelected}"
                [align]="start"
                >
              {{ partner.name }} : {{partner.isSelected}}
            </md-checkbox>
        </div>
      </section>
  </md-card-content>
</md-card>

<md-card class="result">
  <md-card-content>
    <h2>Kpis</h2>
      <section>
        <div (click)="changeAllFilter(kpis,true)"> Check all </div>
        <div (click)="changeAllFilter(kpis,false)"> Uncheck all </div>
        <div *ngFor="let kpi of filterService.kpis">
          <md-checkbox
                *ngIf="kpi.isSelectable"
                [(ngModel)]="kpi.isSelected"
                (change)="updateKpis()"
                [ngClass]="{'active' : kpi.isSelected}"
                [align]="start"
                >
              {{ kpi.name }} : {{kpi.isSelected}}
            </md-checkbox>
        </div>
      </section>
  </md-card-content>
</md-card>

<md-card class="result">
  <md-card-content>
    <h2>MetaCampaigns</h2>
      <section>
        <div (click)="changeAllFilter(metaCampaigns,true)"> Check all </div>
        <div (click)="changeAllFilter(metaCampaigns,false)"> Uncheck all </div>
        <div *ngFor="let metaCampaign of filterService.metaCampaigns">
          <md-checkbox
                *ngIf="metaCampaign.isSelectable"
                [(ngModel)]="metaCampaign.isSelected"
                (change)="updateMetaCampaigns()"
                [ngClass]="{'active' : metaCampaign.isSelected}"
                [align]="start"
                >
              {{ metaCampaign.name }} : {{metaCampaign.isSelected}}
            </md-checkbox>
        </div>
      </section>
  </md-card-content>
</md-card>
