
<td-layout-card-over>

  <div layout="row" layout-align="start center">
    <div>
      <md-card-title>Dashboard</md-card-title>
      <md-card-subtitle>dashboard component is loaded</md-card-subtitle>
    </div>
  </div>
  <div *ngIf="showFilters">
    <app-filters></app-filters>
  </div>
  <md-divider></md-divider>

  <router-outlet></router-outlet>

  <md-divider></md-divider>

  <md-card-actions>
    <div layout="row">
      Copyright.
    </div>
  </md-card-actions>

</td-layout-card-over>
