<app-fd-timeserie-ngx
    [graphTitle]="'Certified conversion percentage per partner'"
    [graphType]="'number-card'"
    [defaultGroupByFields]="['partner_id']"
    [measuresTable]="['conversions', 'certified_conversions']"
    >
</app-fd-timeserie-ngx>

<app-fd-timeserie-ngx
    [graphTitle]="'Certified conversions trend'"
    [graphType]="'timeserie'"
    [defaultGroupByFields]="['conversion_date']"
    [measuresTable]="['percent_certified']"
    >
</app-fd-timeserie-ngx>

<app-fd-timeserie-ngx
    [graphTitle]="'Certified conversions histogram per kpi'"
    [graphType]="'histogram'"
    [defaultGroupByFields]="['kpi_id']"
    [measuresTable]="['conversions', 'certified_conversions']"
    >
</app-fd-timeserie-ngx>

<app-fd-timeserie-ngx
    [graphTitle]="'Certified conversions histogram per metacampaign'"
    [graphType]="'histogram'"
    [defaultGroupByFields]="['metacampaign_id']"
    [measuresTable]="['conversions', 'certified_conversions']"
    >
</app-fd-timeserie-ngx>

<app-fd-groupby-datatable
    [availableGroupByFields]="['metacampaign_id','partner_id','advertiser_id','kpi_id','conversion_date']"
    [defaultGroupByFields]="['metacampaign_id','kpi_id']"
    >
</app-fd-groupby-datatable>

<app-fd-groupby-datatable
    [availableGroupByFields]="['metacampaign_id','partner_id','advertiser_id','kpi_id','conversion_date']"
    [defaultGroupByFields]="['advertiser_id']"
    >
</app-fd-groupby-datatable>
