<md-card-subtitle>fraud-detector is loaded</md-card-subtitle>

<!--
Active advertisers : <br />
<div *ngFor="let advertiser of filterService.advertisers">
  <span  *ngIf="advertiser.isSelected && advertiser.isSelectable" >
    <div>{{ advertiser.name }} : {{advertiser.isSelected}}   <span (click)="advertiser.isSelected = !advertiser.isSelected">X</span></div>
  </span>
</div>
<br /><br />
Active partners : <br />
<div *ngFor="let partner of filterService.partners">
  <span  *ngIf="partner.isSelected && partner.isSelectable" >
    <div>{{ partner.name }}   <span (click)="partner.isSelected = !partner.isSelected">X</span></div>
  </span>
</div>
<br /><br />
Active Kpis : <br />
<div *ngFor="let kpi of filterService.kpis">
  <span  *ngIf="kpi.isSelected && kpi.isSelectable" >
    <div>{{ kpi.name }}   <span (click)="kpi.isSelected = !kpi.isSelected">X</span></div>
  </span>
</div>
<br /><br />
Active MetaCampaings : <br />
<div *ngFor="let metaCampaign of filterService.metaCampaigns">
  <span  *ngIf="metaCampaign.isSelected && metaCampaign.isSelectable" >
    <div>{{ metaCampaign.name }}   <span (click)="metaCampaign.isSelected = !metaCampaign.isSelected">X</span></div>
  </span>
</div>
DATA : <br />
-->

<app-fd-groupby-datatable
      [availableGroupByFields]="['metacampaign_id','partner_id','advertiser_id','kpi_id','conversion_date']"
      [defaultGroupByFields]="['conversion_date','partner_id','metacampaign_id','advertiser_id']"
      ></app-fd-groupby-datatable>
